*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(4, 26, 45);
}
#oculto{
    visibility: hidden;
}
.pyp{
    background-color: rgb(242, 189, 17);
}
header{
    display: flex;
    height: 100px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 120%; 
}
nav a{
     text-decoration: none;
}
#nav1 li{
    text-decoration: none;
    font-size: 120%;
    position: relative;
    right: 200%;
}
.current{
    text-transform: uppercase;
    background-color: rgb(239, 209, 111);
}
main{
     background-color: rgb(12, 23, 74);
     padding: 0.5% 0% 0.5% 0%;
}

main p{
    margin: 50px 50px 50px 50px;
    color: azure;
    font-size: 110%;
}
h1{
    text-align: left;
    color: azure;
    width: 120%;
    margin-left: 40%;
}
footer{
    display: grid;
    grid-template-columns: 35% 30% 35%;
}
#nav2 ul{
    display: block;
}
#nav2 li{
    font-size: 100%;
    line-height: 200%;
}
footer img{
    width: 40%;
}
footer p{
    margin: 20px;
}
.contacto p {
    margin: 20px;
}


.piano{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
}
.piano img{
    width: 70%;
}
.piano p{
    text-align: left;
    margin: 10px;
}
.piano img:hover{
    width: 100%;
}
.piano div{
    border: 5px solid rgb(242, 189, 17);
}


.guitar{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
}
.guitar img{
    width: 70%;
}
.guitar p{
    text-align: left;
    margin: 10px;
}
.guitar img:hover{
    width: 100%;
}
.guitar div{
    border: 5px solid rgb(242, 189, 17);
}